<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <Property name="log_file_path">${sys:log.file.path}</Property>
        <Property name="log_level">${sys:log.level}</Property>
        <Property name="log_pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %L %c{1}.%M - %msg%xEx%n</Property>
    </Properties>
    <appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${log_pattern}"/>
        </Console>
        <RollingRandomAccessFile name="error_file"
                                 immediateFlush="true" fileName="${log_file_path}/error.log"
                                 filePattern="${log_file_path}/logs/error.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <pattern>${log_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="warn_file"
                                 immediateFlush="true" fileName="${log_file_path}/warn.log"
                                 filePattern="${log_file_path}/logs/warn.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <pattern>${log_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="debug_file"
                                 immediateFlush="true" fileName="${log_file_path}/debug.log"
                                 filePattern="${log_file_path}/logs/debug.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="ACCEPT"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <pattern>${log_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="root_file"
                                 immediateFlush="true" fileName="${log_file_path}/root.log"
                                 filePattern="${log_file_path}/logs/root.log.%d{yyyy-MM-dd}">
            <PatternLayout>
                <pattern>${log_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <!--日志平台上报-->
        <Async name="ScribeAsyncAppender" blocking="false">
            <AppenderRef ref="ScribeAppender"/>
        </Async>
        <Scribe name="ScribeAppender">
            <!--以appkey的方式打日志-->
            <LcLayout/>
        </Scribe>
        <!--异常日志远程上报-->
        <Async name="AsyncErrorLog" blocking="false">  <!-- 当 blocking 为 false 时，超过最高 qps 时，不阻塞，直接抛弃数据。-->
            <AppenderRef ref="RemoteErrorLog"/>
        </Async>
        <Scribe name="RemoteErrorLog">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <LcLayout/>
        </Scribe>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="info">
        </logger>
        <logger name="com.sankuai.ia.lock.log" level="info">
            <AppenderRef ref="ScribeAsyncAppender"/>
        </logger>
        <logger name="com.sankuai.ia.debug" level="${log_level}">
            <appender-ref ref="debug_file"/>
        </logger>
        <root level="debug">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="root_file"/>
            <appender-ref ref="warn_file"/>
            <appender-ref ref="error_file"/>
            <appender-ref ref="AsyncErrorLog"/>
        </root>
    </loggers>
</configuration>